<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% load staticfiles %}

    <title>BellMazon IaaS</title>
    <style>

    #header{
        font-family: Georgia;
        padding-top: 50px;
        padding-bottom: 25px;
    }

    #instanceTable{
        margin-top: 25px;
    }

    #userName{
        float: right;
        padding-right: 150px;
    }
    </style>
</head>
<body>
   <div class="container-fluid">
     <div class="row">
       <div class="col-12 col-sm-2 col-lg-2 left">
         <img src="{% static "BellLogos/bell_pantone301_250.jpg" %}" alt="Bell Logo" class="img-responsive center-block" />
       </div>
       <div class="col-12 col-sm-10 col-lg-10 main">
          <h1 id="header">BellMazon IaaS </h1> 
          <div class="btn-group" id="userName">
             <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Hi {{ fullName }}<span class="caret"></span>
             </button>
             <ul class="dropdown-menu" role="menu">
               <li><a href="{{logout_url }}" >logout</a></li>
             </ul>
         </div>
         <button type="button" data-toggle="modal" data-target="#form-content" class="btn btn-primary btn-large">Create a Virtual Machine</button>
         <table id="instanceTable" class="table table-hover">
           <thead>
             <tr>
               <th>Virtual Machine Name</th>
               <th>Image</th>
               <th>IP Address</th>
               <th>Size</th>
               <th>Status</th>
             </tr>
           </thead>
           <tbody>
             {% for info in vmInfo %}
             <tr>
               <td>{{ info.name }}</td>
               <td>{{ info.image }}</td>
               <td>{{ info.ipAddr }}</td>
               <td>{{ info.size }}</td>
               <td>{{ info.status }}</td>
             </tr>
             {% endfor %}
           </tbody>
         </table> 
       </div> 
     </div> 
   </div> 
   <div id="form-content" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Create a Virtual Machine</h3>
        </div>
        <div class="modal-body">
          <form action="/bellmazon/launchInstance/" method="POST">
          {% csrf_token %}
            <div class="form-group">
                <label for="image">Image</label>
                <select class="form-control" id="image" name="vmImage">
                    <option value="40">SDN Linux</option>
                    <option value="2">CentOS</option>
                </select>
            </div>
            <div class="form-group">
                <label for="vDC">vDC</label>
                <select class="form-control" id="vDC" name="vDC">
                    <option>SDN_vDC</option>
                    <option>SDN_vDC_POC</option>
                </select>
            </div>
            <div class="form-group">
                <label for="vmSize">Virtual Machine Size</label>
                <select class="form-control" id="vmSize" name="vmSize">
                   <!-- <option value="xSmall">xSmall</option> -->
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                   <!-- <option value="Large">Large</option> -->
                </select>
            </div>
            <div class="form-group">
                <label for="vmName">Virtual Machine Name</label>
                <input type="text" class="form-control" id="vmName" name="vmName">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>             
            </div>
          </form>
        </div>
      </div>
     </div>
    </div>
    <script>
    </script>
</body>
</html>
